<!DOCTYPE html>
<html>
<head>
  <!--Header Include -->
  <?php
include 'include/header.php';
?>
</head>
<body>
<header>
  <div class="container">
    <h1>Spletna stran za tehnično pomoč</h1>
    <%=render "static/menu_user" %>
  </div>
</header>
<div class="container">
  <section class="main">
    <h3>Zahtevki za pomoč</h3>
    <p>
      Spisek vaših zahtevkov za pomoč, ki so že bili rešeni, ali pa še čakajo na obdelavo.
    </p>
    <div id="searchbox" class="search">
      <form action="<?php echo STATIC_URL; ?>zahtevki" method="post">
        <p>
          <label id="search_label">Išči:</label>
          <input type = "text" value="" id="search" name="search" placeholder = "Iskalni parameter" />
          <button class="btn" type ="submit">Potrdi</button>
        </p>
      </form>
    </div>
    <table class="tabela-zahtevkov">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th id="problem"scope="col">Težava</th>
        <th id="date" scope="col">Datum</th>
        <th id="field" scope="col">Področje</th>
        <th id="agent" scope="col">Agent</th>
        <th id="status" scope="col">Status</th>
        <th id="action" scope="col">Akcije</th>
      </tr>
      </thead>
      <tbody>

      <% @tickets.each do |ticket| %>
          <tr>
            <td><%=ticket.id%></td>
            <td><%=ticket.problem%></td>
            <td><%=ticket.date%></td>
            <td><%=ticket.podrocje%></td>
            <td><%=ticket.admin%></td>
            <td><%=ticket.state%></td>
            <td><%= link_to 'Prikaži', uredi_path(ticket) %> <%= link_to 'Izbriši', izbrisi_path(ticket), method: :izbrisi, data: { confirm: 'Ste prepričani, da želite izbrisati zahtevek?' } %></td>
            <td></td>
          </tr>
      <% end %>


      <!--<?php foreach($this->tickets as $row){
      //echo $row['userid'];
      ?><tr>
        <td><?php echo $row['ticketid'];?></td>
        <td><?php echo $row['problem'];?></td>
        <td><?php echo $row['date'];?></td>
        <td><?php echo $row['type'];?></td>
        <td><?php echo $this->admin_info[$row['adminid']];?></td>
        <td>

          <?php
                                if($row['state']=='1'){
                                    echo "Čaka na odziv agenta";
                                }elseif($row['state']=='2'){
                                    echo "V obdelavi";
                                }elseif($row['state']=='3'){
                                    echo "Čaka na vaš odziv";
                                }elseif($row['state']=='4'){
                                    echo "Zaključen";
                                }else{
                                    echo "Neveljavno stanje";
                                }
                                //echo $row['state'];
                                ?>
        </td>        -->
        <!--<td><a href="<?php echo STATIC_URL; ?>zahtevki/uredi/<?php echo $row['ticketid'];?>"><i class="fa fa-pencil-square-o"></i></a> <a href="<?php echo STATIC_URL; ?>zahtevki/izbrisi/<?php echo $row['ticketid'];?>"><i class="fa fa-trash-o"></i></a></td>-->
      </tr>
      <?php }?>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="7" rowspan="1"><a href="<%= dodaj_path %>">Dodaj zahtevek</a></td>
      </tr>
      </tfoot>
    </table>
  </section>
  <!-- footer -->
  <%=render "static/footer" %>
</div> <!--! end of #container -->
</body>
</html>