<!DOCTYPE html>
<html>
<!--Header Include -->
<?php
include 'include/header.php';
?>
<body>
<header>
  <div class="container">
    <h1>Spletna stran za tehnično pomoč</h1>
    <%=render "static/menu_user" %>
  </div>
</header>
<div class="container">
<section class="main">
  <h3>Zahtevki za pomoč</h3>
  <p>
    Spisek vaših zahtevkov za pomoč, ki so že bili rešeni, ali pa še čakajo na obdelavo.
  </p>
  <div id="searchbox" class="search">
    <form action="<%=zahtevki_search_path %>" method="post">
      <p>
        <label>Išči:</label>
        <input type = "text" id="search" value="" name="search" placeholder = "Iskalni parameter" />
        <input type="hidden" id="authenticity_token" name="authenticity_token" value="<%= form_authenticity_token %>">
        <button class="btn" type ="submit">Potrdi</button>
      </p>
    </form>
  </div>
  <table class="tabela-zahtevkov">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Težava</th>
      <th scope="col">Datum</th>
      <th scope="col">Področje</th>
      <th scope="col">Agent</th>
      <th scope="col">Status</th>
      <th scope="col">Akcije</th>
    </tr>
    </thead>
    <tbody id="table_body">
    <% @tickets.each do |ticket| %>
        <tr>
          <td><%=ticket.id%></td>
          <td><%=ticket.problem%></td>
          <td><%=ticket.date%></td>
          <td><%=ticket.podrocje%></td>
          <!--<td><%=ticket.admin%></td>-->
          <td>
            <% @users.each do |user| %>
                <% if user.id == ticket.admin%>
                    <%=user.name %>
                <%end%>
            <%end%>
          </td>
          <!--<td><%=ticket.state%></td>-->
          <td>
            <% if session[:level] == 1%>
                <% if ticket.state == "1"%>
                    Čaka na odziv agenta
                <% elsif ticket.state == "2" %>
                    V obdelavi
                <% elsif ticket.state == "3"%>
                    Čaka na vaš odziv
                <% elsif ticket.state == "4"%>
                    Zaključen
                <% else %>
                    Neveljavno stanje
                <% end%>
            <% else %>
                <% if ticket.state == "1"%>
                    Čaka na odziv agenta
                <% elsif ticket.state == "2" %>
                    V obdelavi
                <% elsif ticket.state == "3"%>
                    Čaka na odziv uporabnika
                <% elsif ticket.state == "4"%>
                    Zaključen
                <% else %>
                    Neveljavno stanje
                <% end%>
            <% end%>
          </td>

          <td><%= link_to 'Prikaži', uredi_path(ticket) %> <%= link_to 'Izbriši', izbrisi_path(ticket), method: :izbrisi, data: { confirm: 'Ste prepričani, da želite izbrisati zahtevek?' } %></td>
          <td></td>
        </tr>
    <% end %>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <% if session[:level] == 1%>
          <td colspan="7" rowspan="1"><a href="<%= dodaj_path %>">Dodaj zahtevek</a></td>
      <% else %>
          <td colspan="7" rowspan="1"><a href="<%= dodaj_admin_path %>">Dodaj zahtevek</a></td>
      <%end%>
    </tr>
    </tfoot>
  </table>
</section>

<!--Ticket details -->
<section class="ticket-details">
  <h3>Podrobnosti zahtevka</h3>
  <p>
    <strong>ID:</strong> <%=@edited_ticket.id %>
  </p>
  <p>
    <strong>Težava:</strong> <%=@edited_ticket.problem %>
  </p>
  <p>
    <strong>Datum:</strong>  <%=@edited_ticket.date %>
  </p>
  <p>
    <strong>Področje težave:</strong> <%=@edited_ticket.podrocje %>
  </p>
  <p>
    <strong>Opis težave:</strong> <%=@edited_ticket.description %>
  </p>
  <p>
    <strong>Status:</strong>

  <% if session[:level] == 1%>
      <% if @edited_ticket.state == "1"%>
            Čaka na odziv agenta
      <% elsif @edited_ticket.state == "2" %>
            V obdelavi
      <% elsif @edited_ticket.state == "3"%>
            Čaka na vaš odziv
      <% elsif @edited_ticket.state == "4"%>
            Zaključen
      <% else %>
            Neveljavno stanje
      <% end%>
  <% else %>
      <% if @edited_ticket.state == "1"%>
          Čaka na odziv agenta
      <% elsif @edited_ticket.state == "2" %>
          V obdelavi
      <% elsif @edited_ticket.state == "3"%>
          Čaka na odziv uporabnika
      <% elsif @edited_ticket.state == "4"%>
          Zaključen
      <% else %>
          Neveljavno stanje
      <% end%>
  <% end%>

  </p>
  <% if session[:level] != 1%>
      <h3>Kontaktni podatki uporabnika</h3>
      <p>
        <strong>Uporabniško ime:</strong> <%= @ticket_user.username %>
      </p>
      <p>
        <strong>Mail:</strong> <%= @ticket_user.email %>
      </p>
      <p>
        <strong>Telefon:</strong> <%= @ticket_user.phone %>
      </p>
  <% end%>

  <!-- Check user or admin -->
  <% if session[:level] == 1%>
  <!-- User -->
      <!-- Different buttons based on ticket state -->

        <% if @edited_ticket.state == "4"%>
        <form method="post" action="<%=odpri_path(@edited_ticket) %>">
            <input type='hidden' name='state' value='1'>
            <input type="hidden" id="authenticity_token" name="authenticity_token" value="<%= form_authenticity_token %>">
            <button class='btn large'>Ponovno odpri primer</button>
        <% else%>
        <form method="post" action="<%=potrdi_path(@edited_ticket) %>">
            <input type='hidden' name='state' value='4'>
            <input type="hidden" id="authenticity_token" name="authenticity_token" value="<%= form_authenticity_token %>">
            <button class='btn large'>Potrdi rešitev primera</button>
        <% end%>
      </form>
  <% else %>
 <!-- Admin -->
    <!-- Different buttons based on ticket state -->

    <% if @edited_ticket.state != "4" and @edited_ticket.admin != session[:user_id]%>
    <form method="post" action="<%=prevzemi_path(@edited_ticket) %>">
        <input type='hidden' name='state' value='2'>
        <input type='hidden' name='owner' value='ownthisticket'>
          <input type="hidden" id="authenticity_token" name="authenticity_token" value="<%= form_authenticity_token %>">
        <button class='btn large'>Prevzemi primer</button>
    </form>
    <% elsif @edited_ticket.level != 3%>
    <form method="post" action="<%=eskaliraj_path(@edited_ticket) %>">
        <input type='hidden' name='escalate' value='3'>
        <input type="hidden" id="authenticity_token" name="authenticity_token" value="<%= form_authenticity_token %>">
        <button class='btn large'>Eskaliraj</button>
    </form>
    <% end%>

  <% end%>
  <!--Odzivi -->
  <h3>Odziv agenta</h3>
  <% @messages.each do |message| %>
      <% if message.privilegelvl==1%>
        <div class='chat client pull-right'>
        <p>
        <b>
        <!--echo $message['date']," ",  $message['user'];-->
        <%=message.date %>, <%=message.user %>
        </b>
        </p>
        <p>
        <%=message.content %>
        <!--echo $message['content'];-->
        </p>
        </div>
        <div class='clear'></div>
      <%else%>
        <div class='chat agent pull-left'>
        <p>
        <b>
        <%=message.date %>, <%=message.user %>
        </b>
        </p>
        <p>
        <%=message.content %>
        <!--echo $message['content'];-->
        </p>
        </div>
        <div class='clear'></div>
      <%end%>
  <%end%>
  <div class="nov-odgovor">
    <form method="post" action="<%=poslji_path(@edited_ticket) %>">
      <p>
        <label>Novo sporočilo:</label>
      <div class="clear"></div>
      <textarea title="Vnesite sporočilo za naše strokovnjake. Odzvali se vam bodo najkasneje v 24urah." name="message" id="message" required placeholder="Sporočilo za tehnično pomoč"></textarea>
      <input type="hidden" id="authenticity_token" name="authenticity_token" value="<%= form_authenticity_token %>">
      <br/><span id="message_error" class="error-report"></span>
      </p>
      <p>
        <button class="btn" type="submit" id="submit">Pošlji</button>
      </p>
    </form>
  </div>
  <div class="clear"></div>
</section>
<!-- footer -->
<%=render "static/footer" %>
</div> <!--! end of #container -->
</body>
</html>